@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.profile-container {
  display: flex;
}

.profile-content {
  padding: 20px;
  flex: 1;
  height: calc(100vh - 70px); /* Adjust if header exists outside */
  overflow-y: scroll
}

.profile-value {
  @apply bg-green-50 p-3 rounded-lg text-gray-800 text-base;
}

.page {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}