<header>
  <app-header />
</header>

<app-first-time-donation-popup
  *ngIf="isFirstDonation() && role"
  [role]="role"
></app-first-time-donation-popup>

<div class="main-container flex sm:flex-row">
  <app-sidebar (statusSelected)="selectStatus($event)" class="hidden sm:flex" />

  <div class="flex-1 p-4 sm:p-6 lg:p-8 flex flex-col">
    <div
      class="max-w-full container mx-auto bg-white rounded-xl shadow-lg border border-gray-100 p-6 flex-1 flex flex-col"
    >
      <h1
        class="text-3xl font-bold mb-6 text-green-80 text-center sm:text-left"
      >
        {{
          selectedStatus() === "COLLECTED"
            ? "Completed Donations"
            : "Donations List"
        }}
      </h1>
      <p-toast></p-toast>
      <p-confirmdialog key="global" [focusTrap]="false">
        <ng-template pTemplate="message" let-message>
          <div class="flex items-start gap-2">
            <i
              class="pi pi-exclamation-triangle text-xl mt-1"
              [class.text-green-500]="role === 'ROLE_DONOR'"
              [class.text-blue-500]="role === 'ROLE_NGO'"
            ></i>
            <span class="text-gray-700 text-base">{{ message?.message }}</span>
          </div>
        </ng-template>
      </p-confirmdialog>

      @if(selectedStatus() !== "COLLECTED"){
      <div
        class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-4 flex-shrink-0"
      >
        <div
          class="flex flex-wrap justify-center sm:justify-start gap-3 w-full sm:w-auto"
        >
          <button
            class="rounded-full border px-5 py-2 text-sm font-semibold transition-colors duration-200 ease-in-out"
            [style.background-color]="
              selectedStatus() === 'AVAILABLE' && role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-500)'
                : selectedStatus() === 'AVAILABLE' && role === 'ROLE_NGO'
                ? 'var(--color-green-700)'
                : selectedStatus() === 'AVAILABLE'
                ? 'var(--color-green-700)'
                : 'var(--color-white)'
            "
            [style.color]="
              selectedStatus() === 'AVAILABLE'
                ? 'var(--color-white)'
                : role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-700)'
                : role === 'ROLE_NGO'
                ? 'var(--color-ngo-accent-700)'
                : 'var(--color-green-700)'
            "
            [style.borderColor]="
              selectedStatus() === 'AVAILABLE'
                ? 'initial'
                : role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-500)'
                : role === 'ROLE_NGO'
                ? 'var(--color-green-600)'
                : 'var(--color-green-600)'
            "
            [class.hover:bg-green-50]="selectedStatus() !== 'AVAILABLE'"
            (click)="selectStatus('AVAILABLE')"
          >
            Available
          </button>

          <button
            class="rounded-full border px-5 py-2 text-sm font-semibold transition-colors duration-200 ease-in-out"
            [style.background-color]="
              selectedStatus() === 'CLAIMED' && role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-500)'
                : selectedStatus() === 'CLAIMED' && role === 'ROLE_NGO'
                ? 'var(--color-green-700)'
                : selectedStatus() === 'CLAIMED'
                ? 'var(--color-green-700)'
                : 'var(--color-white)'
            "
            [style.color]="
              selectedStatus() === 'CLAIMED'
                ? 'var(--color-white)'
                : role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-700)'
                : role === 'ROLE_NGO'
                ? 'var(--color-ngo-accent-700)'
                : 'var(--color-green-700)'
            "
            [style.borderColor]="
              selectedStatus() === 'CLAIMED'
                ? 'initial'
                : role === 'ROLE_DONOR'
                ? 'var(--color-donor-accent-500)'
                : role === 'ROLE_NGO'
                ? 'var(--color-green-600)'
                : 'var(--color-green-600)'
            "
            [class.hover:bg-green-50]="selectedStatus() !== 'CLAIMED'"
            (click)="selectStatus('CLAIMED')"
          >
            Claimed
          </button>
        </div>

        @if (role === 'ROLE_DONOR') {
        <button
          [routerLink]="['/dashboard/create']"
          class="rounded-lg px-4 py-2 text-base font-semibold transition-colors duration-200 ease-in-out flex items-center gap-2 w-full sm:w-auto mt-4 sm:mt-0"
          [class.bg-green-500]="role === 'ROLE_DONOR'"
          [class.hover:bg-green-600]="role === 'ROLE_DONOR'"
          [class.text-white]="role === 'ROLE_DONOR'"
          [style.background-color]="'var(--color-donor-accent-500)'"
        >
          <lucide-icon name="plus" class="h-4 w-4"></lucide-icon>
          Make a donation
        </button>
        }
      </div>
      }

      <div
        class="overflow-x-auto rounded-lg shadow-md border border-gray-100 flex flex-col"
      >
        <table class="w-full text-left table-auto">
          <thead class="text-white text-sm uppercase">
            <tr
              class="grid-cols-5 sm:table-row"
              [style.background-color]="
                role === 'ROLE_DONOR'
                  ? 'var(--color-donor-accent-500)'
                  : 'var(--color-green-700)'
              "
            >
              @if (role === 'ROLE_DONOR') {
              <th
                class="py-3 px-4 cursor-pointer rounded-tl-lg hover:bg-opacity-90 hidden sm:table-cell"
                (click)="toggleSort('donationId')"
              >
                Donation ID
                <span class="ml-2">
                  {{ sortDirections.get("donationId") === "asc" ? "▲" : "▼" }}
                </span>
              </th>
              }

              <th
                class="py-3 px-4 cursor-pointer hover:bg-opacity-90 hidden sm:table-cell"
                (click)="toggleSort('itemName')"
              >
                Item
                <span class="ml-2">
                  {{ sortDirections.get("itemName") === "asc" ? "▲" : "▼" }}
                </span>
              </th>

              <th
                class="py-3 px-4 cursor-pointer hover:bg-opacity-90 hidden sm:table-cell"
                (click)="toggleSort('quantity')"
              >
                Quantity
                <span class="ml-2">
                  {{ sortDirections.get("quantity") === "asc" ? "▲" : "▼" }}
                </span>
              </th>

              @if (role === 'ROLE_NGO') {
              <th class="py-3 px-4 hover:bg-opacity-90 hidden sm:table-cell">
                Donor Name
              </th>
              }

              <th
                class="py-3 px-4 cursor-pointer hover:bg-opacity-90 hidden sm:table-cell"
                (click)="toggleSort('createdAt')"
              >
                Donation Date
                <span class="ml-2">
                  {{ sortDirections.get("createdAt") === "asc" ? "▲" : "▼" }}
                </span>
              </th>

              <th
                class="py-3 px-4 rounded-tr-lg hover:bg-opacity-90 hidden sm:table-cell"
              >
                Actions
              </th>
              <th class="py-3 px-4 sm:hidden col-span-5 text-center">
                Donation Details & Actions
              </th>
            </tr>
          </thead>
        </table>
        <div class="table-body-scroll-wrapper relative overflow-y-auto">
          <table class="w-full text-left table-fixed">
            <tbody>
              @for (donation of donations(); track donation.donationId) {
              <tr
                class="grid grid-cols-1 sm:grid-cols-5 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5 border-b border-gray-100 last:border-b-0 even:bg-white odd:bg-gray-50 hover:bg-gray-100 text-gray-700 p-4 sm:p-0"
              >
                @if (role === 'ROLE_DONOR') {
                <td
                  class="justify-self-center w-full break-words py-2 px-4 sm:py-3 sm:px-4"
                >
                  <span class="font-bold sm:hidden">Donation ID: </span
                  >{{ donation.clientSideId }}
                </td>
                }
                <td
                  class="justify-self-center w-full break-words max-h-16 overflow-y-auto scrolling-auto py-2 px-4 sm:py-3 sm:px-4"
                >
                  <span class="font-bold sm:hidden">Item: </span
                  >{{ donation.itemName }}
                </td>
                <td
                  class="justify-self-center w-full break-words py-2 px-4 sm:py-3 sm:px-4"
                >
                  <span class="font-bold sm:hidden">Quantity: </span
                  >{{ donation.quantity }}
                  {{ donation.quantityUnitLabel }}
                </td>

                @if (role === 'ROLE_NGO') {
                <td
                  class="justify-self-center w-full break-words py-2 px-4 sm:py-3 sm:px-4"
                >
                  <span class="font-bold sm:hidden">Donor Name: </span
                  >{{ donation.donorName }}
                </td>
                }

                <td class="py-2 px-4 sm:py-3 sm:px-4">
                  <span class="font-bold sm:hidden">Donation Date: </span
                  >{{ donation.createdAt | date : "mediumDate" }}
                </td>
                <td
                  class="flex justify-center items-center py-2 px-4 sm:py-3 sm:px-4 gap-3 w-full col-span-1 sm:col-span-1"
                >
                  <div
                    class="flex flex-row justify-center items-center gap-2 w-full"
                  >
                    <button
                      class="p-2 rounded-full transition-colors"
                      [class.hover:bg-orange-100]="role === 'ROLE_DONOR'"
                      [class.text-orange-600]="role === 'ROLE_DONOR'"
                      [class.hover:text-orange-700]="role === 'ROLE_DONOR'"
                      [class.hover:bg-blue-100]="role === 'ROLE_NGO'"
                      [class.text-blue-600]="role === 'ROLE_NGO'"
                      [class.hover:text-blue-700]="role === 'ROLE_NGO'"
                      [routerLink]="[
                        '/dashboard/donations',
                        donation.donationId
                      ]"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                        />
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        />
                      </svg>
                    </button>
                    @if (donation.status === 'AVAILABLE' && role ===
                    'ROLE_DONOR') {
                    <button
                      class="p-2 rounded-full transition-colors hover:bg-red-100 text-red-500 hover:text-red-600"
                      (click)="
                        confirmDelete($event, donation.donationId.toString())
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09.998-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                        />
                      </svg>
                    </button>
                    }
                  </div>
                </td>
              </tr>
              } @empty {
              <tr>
                <td
                  colspan="6"
                  class="py-8 text-center text-gray-500 text-lg italic"
                >
                  No donations found for this status.
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
