<header>
  <app-header />
</header>
<div class="main-container">
  <app-sidebar (statusSelected)="selectStatus($event)" />
  <div class="container m-4">
    <h1 class="text-2xl font-small mb-4">Donations</h1>
    @if(selectedStatus() !== "COLLECTED"){
    <div class="mb-4 flex gap-5">
      <a
        class="filter-tab"
        [class.current]="selectedStatus() === 'AVAILABLE'"
        (click)="selectStatus('AVAILABLE')"
      >
        <button
          class="rounded-full text-black border-green-700 border px-2 py-1"
        >
          Available
        </button>
      </a>
      <a
        class="filter-tab"
        [class.current]="selectedStatus() === 'CLAIMED'"
        (click)="selectStatus('CLAIMED')"
      >
        <button
          class="rounded-full text-black border-green-700 border px-2 py-1"
        >
          Claimed
        </button>
      </a>
    </div>

    @if (role === 'ROLE_DONOR') {
    <button
      [routerLink]="['/dashboard/create']"
      class="rounded bg-green-700 text-white px-3 py-1"
    >
      Make a donation
    </button>
    } }

    <table class="mt-6 w-full rounded-xl mt-4">
      <thead class="bg-green-700 rounded-t-3xl">
        <tr class="py-2 text-center rounded-t-xl text-white">
          @if (role === 'ROLE_DONOR') {
          <th
            class="font-medium py-1 cursor-pointer rounded-tl-xl "
            (click)="toggleSort('donationId')"
          >
            Donation ID
            <span>
              {{ sortDirections.get("donationId") === "asc" ? "▲" : "▼" }}
            </span>
          </th>
          }

          <th
            class="font-medium cursor-pointer py-2"
            (click)="toggleSort('itemName')"
          >
            Item
            <span>
              {{ sortDirections.get("itemName") === "asc" ? "▲" : "▼" }}
            </span>
          </th>

          <th
            class="font-medium cursor-pointer"
            (click)="toggleSort('quantity')"
          >
            Quantity
            <span>
              {{ sortDirections.get("quantity") === "asc" ? "▲" : "▼" }}
            </span>
          </th>

          @if (role === 'ROLE_NGO') {
          <th class="font-medium">Donor Name</th>
          }

          <th
            class="font-medium cursor-pointer"
            (click)="toggleSort('createdAt')"
          >
            Donation Date
            <span>
              {{ sortDirections.get("createdAt") === "asc" ? "▲" : "▼" }}
            </span>
          </th>

          <th class="font-medium rounded-tr-xl"></th>
        </tr>
      </thead>

      <tbody>
        @for (donation of donations(); track donation.donationId) {
        <tr class="hover:bg-green-100 text-center p-2">
          @if (role === 'ROLE_DONOR') {
          <td>{{ donation.donationId }}</td>
          }
          <td>{{ donation.itemName }}</td>
          <td>{{ donation.quantity }}</td>

          @if (role === 'ROLE_NGO') {
          <td>{{ donation.donorName }}</td>
          }

          <td>{{ donation.createdAt | date : "fullDate" }}</td>
          <td class="flex justify-center py-2 gap-5">
            <!-- <button class="px-2 py-0.5  border-green-700 rounded-full"
              [routerLink]="['/dashboard/donations', donation.donationId]"
            >
              View
            </button> -->
            <!-- <button
              class="boton"
              [routerLink]="['/dashboard/donations', donation.donationId]"
            >
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </button> -->
            <button
              class="button hover:bg-green-500"
              [routerLink]="['/dashboard/donations', donation.donationId]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 cursor-pointer"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </button>
            @if (donation.status === 'AVAILABLE' && role === 'ROLE_DONOR') {
            <button class="button hover:bg-red-400" (click)="deleteDonation(donation.donationId.toString())">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 69 14"
                class="svgIcon bin-top hover:fill-green-700"
              >
                <g clip-path="url(#clip0_35_24)">
                  <path
                    fill="black"
                    d="M20.8232 2.62734L19.9948 4.21304C19.8224 4.54309 19.4808 4.75 19.1085 4.75H4.92857C2.20246 4.75 0 6.87266 0 9.5C0 12.1273 2.20246 14.25 4.92857 14.25H64.0714C66.7975 14.25 69 12.1273 69 9.5C69 6.87266 66.7975 4.75 64.0714 4.75H49.8915C49.5192 4.75 49.1776 4.54309 49.0052 4.21305L48.1768 2.62734C47.3451 1.00938 45.6355 0 43.7719 0H25.2281C23.3645 0 21.6549 1.00938 20.8232 2.62734ZM64.0023 20.0648C64.0397 19.4882 63.5822 19 63.0044 19H5.99556C5.4178 19 4.96025 19.4882 4.99766 20.0648L8.19375 69.3203C8.44018 73.0758 11.6746 76 15.5712 76H53.4288C57.3254 76 60.5598 73.0758 60.8062 69.3203L64.0023 20.0648Z"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_35_24">
                    <rect fill="white" height="14" width="69"></rect>
                  </clipPath>
                </defs>
              </svg>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 69 57"
                class="svgIcon bin-bottom"
              >
                <g clip-path="url(#clip0_35_22)">
                  <path
                    fill="black"
                    d="M20.8232 -16.3727L19.9948 -14.787C19.8224 -14.4569 19.4808 -14.25 19.1085 -14.25H4.92857C2.20246 -14.25 0 -12.1273 0 -9.5C0 -6.8727 2.20246 -4.75 4.92857 -4.75H64.0714C66.7975 -4.75 69 -6.8727 69 -9.5C69 -12.1273 66.7975 -14.25 64.0714 -14.25H49.8915C49.5192 -14.25 49.1776 -14.4569 49.0052 -14.787L48.1768 -16.3727C47.3451 -17.9906 45.6355 -19 43.7719 -19H25.2281C23.3645 -19 21.6549 -17.9906 20.8232 -16.3727ZM64.0023 1.0648C64.0397 0.4882 63.5822 0 63.0044 0H5.99556C5.4178 0 4.96025 0.4882 4.99766 1.0648L8.19375 50.3203C8.44018 54.0758 11.6746 57 15.5712 57H53.4288C57.3254 57 60.5598 54.0758 60.8062 50.3203L64.0023 1.0648Z"
                  ></path>
                </g>
                <defs>
                  <clipPath id="clip0_35_22">
                    <rect fill="white" height="57" width="69"></rect>
                  </clipPath>
                </defs>
              </svg>
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
